{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}" itemprop="image">
      {% else %}
        <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% if author.pronouns %}
      <p class="author__pronouns" itemprop="pronouns">{{ author.pronouns }}</p>
    {% endif %}
    {% if author.bio %}
      <p class="author__bio" itemprop="description">
        {{ author.bio }}
      </p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i>
          <span itemprop="name">{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.employer %}
        <li itemprop="employer" itemscope itemtype="http://schema.org/Organization">
          <i class="fas fa-fw fa-building" aria-hidden="true"></i>
          <span itemprop="name">{{ author.employer }}</span>
        </li>
      {% endif %}

      {% if author.uri %}
        <li>
          <a href="{{ author.uri }}" itemprop="url">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i>
            {{ site.data.ui-text[site.locale].website_label | default: "Website" }}
          </a>
        </li>
      {% endif %}

      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}">
            <meta itemprop="email" content="{{ author.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i>
            <span class="label">Email</span>
          </a>
        </li>
      {% endif %}

      {% if author.keybase %}
        <li>
          <a href="https://keybase.io/{{ author.keybase }}" itemprop="sameAs">
            <i class="fab fa-fw fa-keybase" aria-hidden="true"></i>
            <span class="label">Keybase</span>
          </a>
        </li>
      {% endif %}

      {% if author.twitter %}
        <li>
          <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i>
            <span class="label">Twitter</span>
          </a>
        </li>
      {% endif %}

      {% if author.facebook %}
        <li>
          <a href="https://www.facebook.com/{{ author.facebook }}" itemprop="sameAs">
            <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i>
            <span class="label">Facebook</span>
          </a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
            <span class="label">LinkedIn</span>
          </a>
        </li>
      {% endif %}

      {% if author.instagram %}
        <li>
          <a href="https://instagram.com/{{ author.instagram }}" itemprop="sameAs">
            <i class="fab fa-fw fa-instagram" aria-hidden="true"></i>
            <span class="label">Instagram</span>
          </a>
        </li>
      {% endif %}

      {% if author.youtube %}
        <li>
          <a href="https://www.youtube.com/{{ author.youtube }}" itemprop="sameAs">
            <i class="fab fa-fw fa-youtube" aria-hidden="true"></i>
            <span class="label">YouTube</span>
          </a>
        </li>
      {% endif %}

      {% if author.soundcloud %}
        <li>
          <a href="https://soundcloud.com/{{ author.soundcloud }}" itemprop="sameAs">
            <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i>
            <span class="label">SoundCloud</span>
          </a>
        </li>
      {% endif %}

      {% if author.weibo %}
        <li>
          <a href="https://www.weibo.com/{{ author.weibo }}" itemprop="sameAs">
            <i class="fab fa-fw fa-weibo" aria-hidden="true"></i>
            <span class="label">Weibo</span>
          </a>
        </li>
      {% endif %}

      {% if author.flickr %}
        <li>
          <a href="https://www.flickr.com/{{ author.flickr }}" itemprop="sameAs">
            <i class="fab fa-fw fa-flickr" aria-hidden="true"></i>
            <span class="label">Flickr</span>
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}" itemprop="sameAs">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i>
            <span class="label">GitHub</span>
          </a>
        </li>
      {% endif %}

      {% if author.stackoverflow %}
        <li>
          <a href="https://stackoverflow.com/users/{{ author.stackoverflow }}" itemprop="sameAs">
            <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i>
            <span class="label">StackOverflow</span>
          </a>
        </li>
      {% endif %}

      {% if author.bitbucket %}
        <li>
          <a href="https://bitbucket.org/{{ author.bitbucket }}" itemprop="sameAs">
            <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i>
            <span class="label">Bitbucket</span>
          </a>
        </li>
      {% endif %}

      {% if author.codepen %}
        <li>
          <a href="https://codepen.io/{{ author.codepen }}" itemprop="sameAs">
            <i class="fab fa-fw fa-codepen" aria-hidden="true"></i>
            <span class="label">CodePen</span>
          </a>
        </li>
      {% endif %}

      {% if author.dribbble %}
        <li>
          <a href="https://dribbble.com/{{ author.dribbble }}" itemprop="sameAs">
            <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i>
            <span class="label">Dribbble</span>
          </a>
        </li>
      {% endif %}

      {% if author.kaggle %}
        <li>
          <a href="https://kaggle.com/{{ author.kaggle }}" itemprop="sameAs">
            <i class="fab fa-fw fa-kaggle" aria-hidden="true"></i>
            <span class="label">Kaggle</span>
          </a>
        </li>
      {% endif %}

      {% if author.artstation %}
        <li>
          <a href="https://artstation.com/{{ author.artstation }}" itemprop="sameAs">
            <i class="fab fa-fw fa-artstation" aria-hidden="true"></i>
            <span class="label">ArtStation</span>
          </a>
        </li>
      {% endif %}

      {% if author.itchio %}
        <li>
          <a href="https://{{ author.itchio }}.itch.io" itemprop="sameAs">
            <i class="fas fa-fw fa-gamepad" aria-hidden="true"></i>
            <span class="label">itch.io</span>
          </a>
        </li>
      {% endif %}

      {% if author.lastfm %}
        <li>
          <a href="https://last.fm/user/{{ author.lastfm }}" itemprop="sameAs">
            <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i>
            <span class="label">Last.fm</span>
          </a>
        </li>
      {% endif %}

      {% if author.strava %}
        <li>
          <a href="https://www.strava.com/athletes/{{ author.strava }}" itemprop="sameAs">
            <i class="fab fa-fw fa-strava" aria-hidden="true"></i>
            <span class="label">Strava</span>
          </a>
        </li>
      {% endif %}

      {% if author.telegram %}
        <li>
          <a href="https://t.me/{{ author.telegram }}" itemprop="sameAs">
            <i class="fab fa-fw fa-telegram" aria-hidden="true"></i>
            <span class="label">Telegram</span>
          </a>
        </li>
      {% endif %}

      {% if author.mastodon %}
        <li>
          <a href="{{ author.mastodon }}" itemprop="sameAs">
            <i class="fab fa-fw fa-mastodon" aria-hidden="true"></i>
            <span class="label">Mastodon</span>
          </a>
        </li>
      {% endif %}

      {% if author.medium %}
        <li>
          <a href="{{ author.medium }}" itemprop="sameAs">
            <i class="fab fa-fw fa-medium" aria-hidden="true"></i>
            <span class="label">Medium</span>
          </a>
        </li>
      {% endif %}

      {% if author.xing %}
        <li>
          <a href="https://www.xing.com/profile/{{ author.xing }}" itemprop="sameAs">
            <i class="fab fa-fw fa-xing" aria-hidden="true"></i>
            <span class="label">XING</span>
          </a>
        </li>
      {% endif %}

      {% if author.wikipedia %}
        <li>
          <a href="https://en.wikipedia.org/wiki/{{ author.wikipedia }}" itemprop="sameAs">
            <i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i>
            <span class="label">Wikipedia</span>
          </a>
        </li>
      {% endif %}

      {% if author.zotero %}
        <li>
          <a href="https://www.zotero.org/{{ author.zotero }}" itemprop="sameAs">
            <i class="fas fa-fw fa-zotero" aria-hidden="true"></i>
            <span class="label">Zotero</span>
          </a>
        </li>
      {% endif %}

      {% if author.researchgate %}
        <li>
          <a href="https://www.researchgate.net/profile/{{ author.researchgate }}" itemprop="sameAs">
            <i class="fab fa-fw fa-researchgate" aria-hidden="true"></i>
            <span class="label">ResearchGate</span>
          </a>
        </li>
      {% endif %}

      {% if author.orcid %}
        <li>
          <a href="https://orcid.org/{{ author.orcid }}" itemprop="sameAs">
            <i class="fab fa-fw fa-orcid" aria-hidden="true"></i>
            <span class="label">ORCID</span>
          </a>
        </li>
      {% endif %}

      {% if author.arxiv %}
        <li>
          <a href="https://arxiv.org/a/{{ author.arxiv }}" itemprop="sameAs">
            <i class="fas fa-fw fa-arxiv" aria-hidden="true"></i>
            <span class="label">arXiv</span>
          </a>
        </li>
      {% endif %}

      {% if author.googlescholar %}
        <li>
          <a href="{{ author.googlescholar }}" itemprop="sameAs">
            <i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i>
            <span class="label">Google Scholar</span>
          </a>
        </li>
      {% endif %}

      {% if author.impactstory %}
        <li>
          <a href="{{ author.impactstory }}" itemprop="sameAs">
            <i class="fas fa-fw fa-impactstory" aria-hidden="true"></i>
            <span class="label">Impactstory</span>
          </a>
        </li>
      {% endif %}

      {% if author.semantic %}
        <li>
          <a href="https://www.semanticscholar.org/author/{{ author.semantic }}" itemprop="sameAs">
            <i class="fas fa-fw fa-scholar" aria-hidden="true"></i>
            <span class="label">Semantic Scholar</span>
          </a>
        </li>
      {% endif %}

      {% if author.pubmed %}
        <li>
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ author.pubmed }}" itemprop="sameAs">
            <i class="fas fa-fw fa-pubmed" aria-hidden="true"></i>
            <span class="label">PubMed</span>
          </a>
        </li>
      {% endif %}

      {% if author.scopus %}
        <li>
          <a href="https://www.scopus.com/authid/detail.uri?authorId={{ author.scopus }}" itemprop="sameAs">
            <i class="fas fa-fw fa-scopus" aria-hidden="true"></i>
            <span class="label">Scopus</span>
          </a>
        </li>
      {% endif %}

      {% if author.ssrn %}
        <li>
          <a href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id={{ author.ssrn }}" itemprop="sameAs">
            <i class="fas fa-fw fa-ssrn" aria-hidden="true"></i>
            <span class="label">SSRN</span>
          </a>
        </li>
      {% endif %}

      {% if author.academia %}
        <li>
          <a href="{{ author.academia }}" itemprop="sameAs">
            <i class="fas fa-fw fa-academia" aria-hidden="true"></i>
            <span class="label">Academia.edu</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
